body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;

  background-image: url('Images/background.png');
  background-size: cover;
}



.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.presentation {
  margin: 20px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.presentation:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.presentation img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.presentation img:hover {
  transform: scale(1.05);
}


.centered-text {
  text-align: center;
}

.project-info {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(240, 240, 240, 0.5);
  padding: 20px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.author-name {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-style: italic;
}